@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-bacongreen: #31CC3A;
  --color-baconpink: #D93CEB;
  --color-bg: #141414;
  --color-dark: #1a1a1a;
  --color-light: #f1f1f1;
  --color-grad: linear-gradient(90deg,rgba(49, 204, 58, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(217, 60, 235, 1) 100%);
}

@custom-variant dark (&:where(.dark, .dark *));

@utility scrollbar-thin {
    scrollbar-width: thin;
}

@utility scrollbar-hidden {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility scrollbar-thumb-* {
    scrollbar-color: --value(--color-*) transparent;
}

/* css for md post formatting */

.post a, .feed a {
    text-decoration: underline;
    text-underline-offset: 4px;
    background-image: linear-gradient(90deg,rgba(49, 204, 58, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(217, 60, 235, 1) 100%);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0px 100%;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.3s ease-in-out;
}

.post a:hover, .feed a:hover {
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.post h1 {
    font-weight: bold;
    @apply text-2xl md:text-3xl;
}

.post h2 {
    position: relative;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;

    font-weight: bold;
    @apply text-xl md:text-2xl;
}

.post h2::after {
    position: absolute;
    bottom: 0px;
    height: 0.25rem;
    width: 6rem;
    @media (min-width: theme(--breakpoint-md)) {
        width: 8rem;
    }
    content: "";
    border-radius: 9999px;
    background: linear-gradient(90deg,rgba(49, 204, 58, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(217, 60, 235, 1) 100%);
}

.post h3 {
    font-weight: bold;
    font-size: var(--text-xl);
}

.post h4 {
    font-weight: bold;
    font-size: var(--text-lg);
}

.post h5 {
    font-size: var(--text-lg);
}

.post h6 {
    font-size: var(--text-base);
}

.post h7 {
    font-size: var(--text-base);
}

.post pre {
    @apply bg-white dark:bg-bg;
    padding: calc(var(--spacing) * 3);
    border-radius: var(--radius-sm);
    overflow-x: auto;
}

.post ul {
    @apply list-disc list-inside marker:text-bacongreen;
}
